@model IEnumerable<TrashCollector.Models.Address>

@{
    ViewBag.Title = "AllPU";
}
<br />
<h2>All Pick-Ups</h2>
<br />
<br />
<div class="jumbotron">
     <p>Big ole google maps of all address here</p>
    </div>



@foreach (var item in Model)
{
    
    <div class="col-4 d-inline-block" style="width: 33%;">
        <div class="card text-white bg-primary mb-4">
            <div class="card-header"> google map goes here!</div>
        </div>
        <div class="card-body">

            @Html.DisplayFor(modelItem => item.StreetAddress)<br />

            @Html.DisplayFor(modelItem => item.City),

            @Html.DisplayFor(modelItem => item.State)

            @Html.DisplayFor(modelItem => item.ZipCode)
            <br />

            <p>
                Pick up day:
                @Html.DisplayFor(modelItem => item.pickUpDay)
            </p>
        </div>

    </div>

}